%roboto-400 {
  font-family:'Poppins-Regular' , sans-serif;
  font-weight: 400;
  font-style: normal;
}
%poppins-400 {
  font-family:'Poppins-Regular' , sans-serif;
  font-weight: 400;
  font-style: normal;
}
$bg :#1E252B;
$btn : #FF6E30;
$text1 : rgba(255, 255, 255, 0.55);
$text2 : rgba(255, 255, 255, 0.9);
$app1 : rgba(255, 165, 55, 0.55);
$app2 : rgba(255, 255, 255, 0.78)