@import 'vars';
@import 'fonts';
@import 'global';
@import 'reset';
@import 'libs';

.header {
  padding: 2rem 2rem;


  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-inner {
    display: flex;
    align-items: center;
  }

  &__menu-list {
    margin-right: 4rem;
    position: relative;
  }

  &__menu-link {
    display: flex;
    align-items: center;
    svg {
      margin-left: .5rem;
    }
    &:hover {
      color: #FDF5FF;
      transition: all .3s;
      svg {
        margin-left: .5rem;
      }
      svg > path{
        stroke-opacity: 1;

      }
    }
  }
  .header__menu-list--more:hover .header__submenu {
    display: block;
  }

  &__submenu {
    display: none;
    position: absolute;

  }
  &__submenu-link:hover {
    color: #FDF5FF;
    transition: all .3s;
  }

  &__profile {
    display: flex;
    align-items: center;
  }

  &__profile-list {
    margin-right: 4rem;
  }

  &__profile-link {
    padding: 1.2rem 2.8rem;
    &:hover {
      color: #FDF5FF;
      transition: all .3s;
    }
  }

  &__profile-link--btn {
    background-color: $btn;
    color: #FDF5FF;
    border-radius: .8rem;
  }

}

.home {
  padding: 10rem 20rem;
  overflow: hidden;


  &__section {
    display: flex;
  }

  &__right-title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 7rem;
    color: $text2;
    width: 60rem;
    margin-bottom: 3rem;



  }
  &__right-subtitle{
    font-size: 1.8rem;
    line-height: 3rem;
    width: 48.7rem;
    margin-bottom: 6rem;
  }
  &__right-form{
    display: flex;
    position: relative;
    margin-bottom: 11rem;
  }
  &__right-input{
    position: relative;
    width: 49.8rem;
    border-radius: 1.5rem;
    background-color: #283036;
    padding: 1.5rem 4rem ;
    border: none;
    outline: none;

  }

  &__right-form__img{
  position: absolute;
    top: 1.9rem;
    left: 1rem;
    z-index: 1;
  }
  &__right-btn{
    position: absolute;
    top: .6rem;
    right: 11rem ;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 1.2rem 3.6rem;
    background-color: $btn;
    border-radius: .8rem;
    color: #fff;
    border: none;

  }
  &__right-social {
    display: flex;
    align-items: center;
  }
  &__right-social-link{
    margin-right: 2rem;
  }
  &__left{
    position: absolute;
    top: 15rem  ;
    right: 5rem ;
  }
  &__span{
    color: $btn;
    width: .2rem;
    height: .2rem;
    border-radius: 50%;
    font-family: auto;
  }

}
.popular{
  padding-bottom: 17rem;
  &__title{
    text-align: center;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 6.2rem;
    color: $text2;

  }
  &__subtitle{
    text-align: center;
    font-size: 1.8rem;
    line-height: 3rem;
    white-space: pre-line;
    margin-bottom: 9rem;
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    padding: 3.3rem ;
    margin-bottom: 10rem;
    transition: transform .2s;
    display: none;

    &:hover{
      transform: scale(1.03);
      background: rgba(255, 110, 48, 0.6);
      background: radial-gradient(ellipse farthest-corner at top right, rgba(255, 110, 48, 0.6) 0%, #283036 14%);
      border-radius: 1.5rem;
      svg > path {
        fill-opacity :.7;
      }

    }
  }
  &__item-top{
    display: flex;
    margin-bottom: 3rem;
    z-index: 1000;
    background: transparent;

  }
  &__item-app{
    margin-left: 3rem;
  }
  &__item-app__title{
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: $app2;
  }
  &__item-app__subtitle{
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: $app1;
    font-weight: 400;
  }

  &__item-info{
    width: 32.6rem;
    font-size: 1.6rem;
    line-height: 3rem;
    margin-bottom: 3rem;

  }
  &__item-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  &__item-icons{
    align-items: center;
    display: flex;
  }
  &__item-icon{
    padding: .7rem ;
    padding-bottom: 0;
    margin-right: 2rem;
    border-radius: .8rem ;
    &:hover{
      background: #283036;
      filter: drop-shadow(0rem .4rem .4rem rgba(0, 0, 0, 0.25));
      svg > path{
        fill: #FD3B41;
      }
    }
  }
  &__item-link{
    padding: .9rem 3.5rem ;
    margin-right: 3rem;
    border-radius: .8rem  ;
    z-index: 1;
    &:hover{
      background-color: $btn;
      transition: all .3s;
      color: #fff ;
    }
  }
  &__more{
    text-align: center;
  }
  &__more-link{
    padding: 1.7rem 3.8rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: .8rem;
    color: $btn;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
  }


}
.brands {
img{


}

  &__center{
    border-radius: 2.5rem;
    padding: 5.5rem 8rem;
    position: relative;
    background-color: rgba(44, 53, 61, 0.2);

  }
  &__subtitle{
    text-align: center;
    color: $text3;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 5.5rem;
  }
  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2.5rem;

  }
  &__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }


  }

.tools {
  padding: 20rem 10rem;

  &__sides {
    display: flex;
  }

  &__info-title {
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 6.2rem;
    color: $text2;
    margin-bottom: 3rem;
  }

  &__info-subtitle {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3rem;
    margin-bottom: 6rem;
  }
  &__info-link {
    padding: 1.5rem 4rem;
    background-color: $btn;
    border-radius: .8rem;
    color: #fff;
  }
  &__app{
    display: flex;
    flex-wrap: wrap;
  }
}
.blog{
  padding-bottom: 25rem;
  &__about{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text{
    width: 40rem;
    @extend %roboto-400;
    font-size: 1.4rem;
    line-height: 3rem;
    letter-spacing: 0.015em;
    position: relative;
    background-image: url("../images/text-bg.svg");
    background-position: top left;
    background-repeat: no-repeat;
    padding-top: 3rem ;
    padding-left: 2rem;

  }
  .swiper-wrapper {
    padding-bottom: 10rem;
  }
  .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    color: $text1;
  }
  .swiper-button-prev,
  .swiper-button-next{
    color: $btn;
  }

  .swiper-button-prev > .swiper-button-disabled{
    color: $text1;
  }
  .swiper-pagination-bullet{
    width: 4rem;
    height: .8rem;
    border-radius: .8rem  ;
  }
  .swiper-pagination-bullet-active{
    background-color: $btn ;
  }

}
.join{
  padding-bottom: 24rem;
  text-align: center;
  border-bottom: 1px solid $text1;
  &__title{
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 6.2rem;
    color: $text2;
    margin-bottom: 2.5rem;
  }
  &__subtitle{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3rem ;
    margin-bottom: 10rem;

  }
  &__form{
    position: relative;
  }
  &__form-input{
      position: relative;
      width: 55rem;
      border-radius: 1.5rem;
      background-color: #283036;
      padding: 1.5rem 4rem ;
      border: none;
    outline: none;
  }
  &__form-btn{
    position: absolute;
    top: .7rem;
    right: 35rem ;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 1.2rem 3.6rem;
    background-color: $btn;
    border-radius: .8rem;
    color: #fff;
    border: none;

  }
}
.footer{
  padding: 7rem 10rem;
  &__sections{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__company-title{
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $text2;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
  &__company-subtitle{
    font-size: 1.4rem;
    line-height: 2.5rem;

  }
  &__links-title{
    font-weight: 500;
    font-size: 2rem ;
    line-height: 3rem;
    margin-bottom: 2rem;
    color: $text2;
  }
  &__link{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    &:hover{
      transition: all .3s;
      color: $text2;
    }
  }
}

@import 'media';
